p {
  cursor: pointer;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #333;
}

h2 {
  font-size: 50px;
  font-family: cursive;
  color: brown;
}

ul li {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}
